<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>城院书城-首页</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/js/slide.js"></script>
</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到城院书城!</div>
			<div class="fr">
                {% if user.name == None %}
				    <div class="login_btn fl">
					    <a href= "/mall/login">登录</a>
					    <span>|</span>
					    <a href="/mall/register">注册</a>
				    </div>
                {% elif user.name == 'root' %}
                    <div class="user_link fl">
                        欢迎光临,{{ user.name }}，<a href="/mall/cancel">注销</a>
					    <span>|</span>
					    <a href="/mall/user_center_info">用户中心</a>
					    <span>|</span>
					    <a href="/cart/my_cart">我的购物车</a>
					    <span>|</span>
					    <a href="final_order.html">我的订单</a>
                        <span>|</span>
					    <a href="/mall/web_manage_user">站务管理</a>
                        <span>|</span>
					    <a href="/chat/index2">聊天室</a>
				    </div>
                {% else %}
				    <div class="user_link fl">
                        欢迎光临,{{ user.name }},<a href="/mall/cancel">注销</a>
					    <span>|</span>
					    <a href="/mall/user_center_info">用户中心</a>
					    <span>|</span>
					    <a href="/cart/my_cart">我的购物车</a>
					    <span>|</span>
					    <a href="final_order.html">我的订单</a>
                        <span>|</span>
					    <a href="/chat/index2">聊天室</a>
				    </div>
                {% endif %}
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<img class="logo f1" src="/static/images/logo.png" style="width: 160px; height: 53px;float: left;top: 20px">
		<div class="search_con fl">
            <form action="/books/list_search/" method="post">
                <input type="text" class="input_text fl" name="search_book" placeholder="搜索商品">
			    <input type="submit" class="input_btn fr" value="搜索">
            </form>
		</div>
		<div class="guest_cart fr">
			<a href="/cart/my_cart" class="cart_name fl">我的购物车</a>
			<div class="book_count fl" id="show_count">1</div>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
		</div>
	</div>

	<div class="center_con clearfix">
		<ul class="subnav fl">
			<li><a href="/books/list_law" class="python">法律</a></li>
			<li><a href="/books/list_it" class="javascript">计算机和网络</a></li>
			<li><a href="/books/list_history" class="algorithms">历史</a></li>
			<li><a href="/books/list_literature" class="machinelearning">小说</a></li>
			<li><a href="/books/list_philosophy" class="operatingsystem">哲学</a></li>
			<li><a href="/books/list_natural_science" class="database">自然科学</a></li>
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
				<li><a href="https://www.bilibili.com/video/av4215052?from=search&seid=12002744485170670479" target="_blank"><img src="/static/images/gg02.gif" alt="幻灯片" style="width: 760px; height: 270px;"></a></li>
				<li><a href="https://www.bilibili.com/video/av25974501" target="_blank"><img src="/static/images/gg03.jpg" alt="幻灯片" style="width: 760px; height: 270px;"></a></li>
				<li><a href="https://www.bilibili.com/video/av14251242?from=search&seid=13534786503590530994"><img src="/static/images/gg04.jpg" alt="幻灯片" style="width: 760px; height: 270px;"></a></li>
				<li><a href="https://www.bilibili.com/video/av12002616?from=search&seid=4364410197647882346"><img src="/static/images/gg05.jpg" alt="幻灯片" style="width: 760px; height: 270px;"></a></li>
                <li><a href="https://www.bilibili.com/video/av47823543?from=search&seid=10128217973378938599"><img src="/static/images/gg06.jpg" alt="幻灯片" style="width: 760px; height: 270px;"></a></li>
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
			<a href="http://fiba.qq.com/fibawc/" target="_blank"><img src="/static/images/gg01.jpg" style="width: 240px; height: 135px;"></a>
			<a href="#"><img src="/static/images/adv02.jpg" style="width: 240px; height: 135px;"></a>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">法律</h3>
			<a href="/books/list_law" class="book_more fr">查看更多 ></a>
		</div>

		<div class="book_con clearfix">
			<div class="book_banner fl"><img src="/static/images/banner01.jpg"></div>
			<ul class="book_list fl">
                {% for i in law.book %}
                    <li>
					    <h4><a href="/books/detail/?b_id={{ i.0 }}">{{ i.1 }}</a></h4>
					    <a href="/books/detail/?b_id={{ i.0 }}"><img src={{ i.2 }}></a>
                        <div class="prize">¥ {{ i.3 }}</div>
				    </li>
                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model02">计算机与网络</h3>
			<a href="/books/list_it" class="book_more fr">查看更多 ></a>
		</div>

		<div class="book_con clearfix">
			<div class="book_banner fl"><img src="/static/images/banner02.jpg"></div>
			<ul class="book_list fl">
				{% for i in it.book %}
                    <li>
					    <h4><a href="#">{{ i.1 }}</a></h4>
					    <a href="/books/detail/?b_id={{ i.0 }}"><img src={{ i.2 }}></a>
                        <div class="prize">¥ {{ i.3 }}</div>
				    </li>
                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model03">历史</h3>
			<a href="/books/list_history" class="book_more fr">查看更多 ></a>
		</div>

		<div class="book_con clearfix">
			<div class="book_banner fl"><img src="/static/images/banner03.jpg"></div>
			<ul class="book_list fl">
                {% for i in history.book %}
                    <li>
					    <h4><a href="#">{{ i.1 }}</a></h4>
					    <a href="/books/detail/?b_id={{ i.0 }}"><img src={{ i.2 }}></a>
                        <div class="prize">¥ {{ i.3 }}</div>
				    </li>
                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model04">小说</h3>
			<a href="/books/list_literature" class="book_more fr">查看更多 ></a>
		</div>

		<div class="book_con clearfix">
			<div class="book_banner fl"><img src="/static/images/banner04.jpg"></div>
			<ul class="book_list fl">
				{% for i in literature.book %}
                    <li>
					    <h4><a href="#">{{ i.1 }}</a></h4>
					    <a href="/books/detail/?b_id={{ i.0 }}"><img src={{ i.2 }}></a>
                        <div class="prize">¥ {{ i.3 }}</div>
				    </li>
                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model05">哲学</h3>
			<a href="/books/list_philosophy" class="book_more fr">查看更多 ></a>
		</div>

		<div class="book_con clearfix">
			<div class="book_banner fl"><img src="/static/images/banner05.jpg"></div>
			<ul class="book_list fl">
				{% for i in philosophy.book %}
                    <li>
					    <h4><a href="/books/detail/?b_id={{ i.0 }}">{{ i.1 }}</a></h4>
					    <a href="/books/detail/?b_id={{ i.0 }}"><img src={{ i.2 }}></a>
                        <div class="prize">¥ {{ i.3 }}</div>
				    </li>
                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model06">自然科学</h3>
			<a href="/books/list_natural_science" class="book_more fr">查看更多 ></a>
		</div>

		<div class="book_con clearfix">
			<div class="book_banner fl"><img src="/static/images/banner06.jpg"></div>
			<ul class="book_list fl">
				{% for i in natural_scirnce.book %}
                    <li>
					    <h4><a href="#">{{ i.1 }}</a></h4>
					    <a href="/books/detail/?b_id={{ i.0 }}"><img src={{ i.2 }}></a>
                        <div class="prize">¥ {{ i.3 }}</div>
				    </li>
                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="footer">
		<p>CopyRight © 2019 浙江大学城市学院实训二班 All Rights Reserved</p>
	</div>
</body>
</html>