<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>城院书城-用户添加</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="js/register.js"></script>
</head>
<body>
	<div class="register_con">
		<div class="l_con fl">
			<a class="reg_logo" href="/mall/index/"><img src="/static/images/logo.png" style="width: 160px; height: 53px;"></a>
			<div class="reg_slogan">学计算机  ·  来城院实训班</div>
			<div class="reg_banner"></div>
		</div>

		<div class="r_con fr">
			<div class="reg_title clearfix">
				<h1>用户添加</h1>
			</div>
			<div class="reg_form clearfix">
				<form action="/mall/user_add/" method="post">
				<ul>
					<li>
						<label>用户名:</label>
						<input type="text" name="user_name" id="user_name">
						<span class="error_tip">提示信息</span>
					</li>					
					<li>
						<label>密码:</label>
						<input type="password" name="pwd" id="pwd">
						<span class="error_tip">提示信息</span>
					</li>
					<li>
						<label>用户权限:</label>
						<input type="text" name="level" id="level">
					</li>
					<li>
						<label>用户余额:</label>
						<input type="text" name="money" id="money">
					</li>
                    <li>
						<label>用户消费:</label>
						<input type="text" name="cost" id="cost">
					</li>
					<li class="reg_sub">
						<input type="submit" value="修 改" name="">
					</li>
				</ul>
				</form>
			</div>

		</div>

	</div>

	<div class="footer">
		<p>CopyRight © 2019 浙江大学城市学院实训二班 All Rights Reserved</p>
	</div>
	
</body>
</html>