<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>城院书城-浏览记录</title>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
<div class="header_con">
    <div class="header">
        <div class="welcome fl">欢迎来到城院书城!</div>
        <div class="fr">
            <div class="login_btn fl">
                <a href="login.html">登录</a>
                <span>|</span>
                <a href="register.html">注册</a>
            </div>
            <div class="user_link fl">
                <span>|</span>
                <a href="user_center_info.html">用户中心</a>
                <span>|</span>
                <a href="cart.html">我的购物车</a>
                <span>|</span>
                <a href="user_center_order.html">我的订单</a>
            </div>
        </div>
    </div>
</div>

<div class="search_bar clearfix">
    <a href="/mall/index/" class="logo fl"><img src="/static/images/logo.png" style="width: 160px; height: 53px;"></a>
    <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
    <div class="search_con fr">
        <input type="text" class="input_text fl" name="" placeholder="搜索商品">
        <input type="button" class="input_btn fr" name="" value="搜索">
    </div>
</div>

<div class="main_con clearfix">
    <div class="left_menu_con clearfix">
        <h3>用户中心</h3>
        <ul>
            <li><a href="user_center_info.html">· 个人信息</a></li>
            <li><a href="user_center_order.html">· 全部订单</a></li>
            <li><a href="user_center_site.html" class="active">· 浏览记录</a></li>
            <li><a href="user_center_site.html">· 收货地址</a></li>
        </ul>
    </div>
    <div class="right_content clearfix">
        <h3 class="common_title2">浏览记录</h3>
        {% for i in page.object_list %}
            <ul class="order_list_th w978 clearfix">
                <li class="col01">{{ i.0 }}</li>
                <li class="col02" style="white-space: nowrap">{{ i.1 }}</li>
            </ul>
        {% endfor %}

        <div class="pagenation">
            {% if page.has_previous %}
                <a href="/mall/user_center_browse/?pindex={{ page.previous_page_number }}">&lt;上一页</a>
            {% endif %}
            {% for pindex in page.paginator.page_range %}
                {% if pindex == page.number %}
                    <a href="">{{ pindex }}</a>
                {% else %}
                    <a href="/mall/user_center_browse/?pindex={{ pindex }}">{{ pindex }}</a>
                {% endif %}
            {% endfor %}
            {% if page.has_next %}
                <a href="/mall/user_center_browse/?pindex={{ page.next_page_number }}">下一页&gt;</a>
            {% endif %}
        </div>
    </div>
</div>


<div class="footer">
    <p>CopyRight © 2019 浙江大学城市学院实训二班 All Rights Reserved</p>
</div>

</body>
</html>